{{>layout/header}}
<div class="container">
<table class="table table-condensed">
    <thead>
    <tr>
        <th scope="col">게시글번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">최종수정일</th>
    </tr>
    </thead>
    <tbody>
    {{#posts}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td>{{member.nickname}}</td>
            <td>{{modifiedTime}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
</div>
{{>layout/footer}}
