{{>layout/header}}
<div class="container">
    <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input name="email" type="email" class="form-control" id="inputEmail" value="{{memberDto.email}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input name="password" type="password" class="form-control" id="inputPassword" value="{{memberDto.password}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputNickname" class="col-sm-2 col-form-label">nickname</label>
        <div class="col-sm-10">
            <input name="nickname" type="text" class="form-control" id="inputNickname" value="{{memberDto.nickname}}">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <div>
                <button id="btn-save" type="button" class="btn btn-primary">update</button>
            </div>
            <form id="blogForm" action="/member/mypage" method="POST" >
                <input type="hidden" name="_method" value="DELETE"/>
                <button id="btn-delete" type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('#btn-save').on('click', function () {
        var data = {
            email: $('#inputEmail').val(),
            password: $('#inputPassword').val(),
            nickname: $('#inputNickname').val(),
        };
        $.ajax({
            type: 'PUT',
            url: '/member/mypage',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function (data) {
            alert('회원정보가 변경되었습니다.');
            $('#inputEmail').val(data.email);
            $('#inputPassword').val(data.password);
            $('#inputNickname').val(data.nickname);
        }).fail(function () {
            alert("실패하였습니다");
        });
    });
    // $('#btn-delete').on('click', function () {
    //     // var data = {
    //     //     email: $('#inputEmail').val(),
    //     //     password: $('#inputPassword').val(),
    //     //     nickname: $('#inputNickname').val(),
    //     // };
    //     $.ajax({
    //         type: 'DELETE',
    //         url: '/member/mypage',
    //         dataType: 'json',
    //         contentType: 'application/json; charset=utf-8',
    //     }).done(function (data) {
    //         alert('회원정보가 변경되었습니다.');
    //     }).fail(function () {
    //         alert("실패하였습니다");
    //     });
    // });
</script>
{{>layout/footer}}
